@import "tailwindcss";

:root {
  /* Colors */

  --brand-bg: #f5f0ed;
  --brand-text: #000000;
  --brand-inactive: #bdbdbd;
  --brand-input: #fafafa;

  /* Font Families */
  /* --font-instrument: "Instrument Sans", sans-serif;
  --font-inria: "Inria Serif", serif; */

  /* Font Sizes */
  --font-size-h1: 28px;
  --font-size-h2: 18px;
  --font-size-body: 14px;

  /* Spacing */
  --space-0_5: 2px;
  --space-1_5: 6px;
  --space-6: 24px;
  --space-8_5: 34px;
}

body {
  font-family: var(--font-instrument);
  background-color: var(--brand-bg);
}
