@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/zoom";
@import "swiper/css/pagination";

:root {
  /* Colors */
  --brand-bg: #f5f0ed;
  --brand-text: #000000;
  --brand-inactive: #bdbdbd;
  --brand-input: #fafafa;

  /* Font Sizes */
  --font-size-h1: 28px;
  --font-size-h2: 18px;
  --font-size-body: 14px;

  /* Spacing */
  --space-0_5: 2px;
  --space-1_5: 6px;
  --space-6: 24px;
  --space-8_5: 34px;

  --font-instrument: "Instrument Sans", sans-serif;
  --font-inria: "Inria Serif", serif;
}

body {
  /* font-family: var(--font-instrument); */
  font-family: var(--font-instrument), var(--font-inria), sans-serif;

  background-color: var(--brand-bg);
  -webkit-overflow-scrolling: touch;
}

.custom-dot {
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}

.native-padding {
  padding-top: max(env(safe-area-inset-top), 40px);
}
